.threat-collection {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #dde4eb;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.threat-collection h1 {
  margin-bottom: 0.5rem;
}
.instructions {
  font-style: italic;
  margin-bottom: 1rem;
}
.sources {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}
.source {
  display: flex;
  align-items: flex-start;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.source input[type="checkbox"] {
  flex-shrink: 0;
  margin-top: 0.25rem;
}
.source-text {
  margin-left: 0.75rem;
  flex: 1;
}
.desc {
  font-style: italic;
}
.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.buttons button {
  background-color:#e4067e;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #aa1352;
}
.message {
  font-weight: bold;
  margin-top: 1rem;
  color: #000;
}
.message.message-correct {
  color: green;
}
.message.message-incorrect {
  color: #aa1352;
}
.correct-bg {
  background-color: #e6ffea;
}
.incorrect-bg {
  background-color: #ffe6e6;
}